[submodule "Week_2"]
	path = Week_2
	url = https://github.com/seoko97/javascript-racingcar-6.git
	branch = seoko97
[submodule "Week_1"]
	path = Week_1
	url = https://github.com/seoko97/javascript-baseball-6.git
	branch = seoko97
